header {
    padding-top: 70px;
}

.container  {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

section {
    margin: 2rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 2rem;
}

.card {
    transition: transform 0.3s ease;
}

.card:hover {
    transform: scale(1.05);
    z-index: 2;
}

.image{
    width: 30rem;
    height:15rem;
}



@media (min-width: 992px) {
  .w-lg-20 { width: 20%; }
  .w-lg-80 { width: 80%; }
}
